{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
  <h1 class="display-4 text-center my-3">Survey</h1>
  <hr>
  <h3 class='my-4'>{{student.name}} 님 체온 : {{temperature}}°C</h3>
  <div class='my-3'>
      <form action="{%url 'survey:submit' student.id temperature%}" method="POST">
        {% csrf_token %}
        
        {% for question in question_body %}
        
        <h3>{{question.text}}</h3>
        {{form.body_check }}
        <br>
        
        {% endfor %}
        
        {% for question in question_danger %}
        
        <h3>{{question.text}}</h3>
        {{ form.danger }}
        
        {% endfor %}
        
        <hr>
        <div class='text-center'>
            <button class="btn btn-primary btn-lg">submit</button>
        </div>
      </form>
  </div>

{% endblock %}