[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/home/ubuntu/s04p23b102/backend/venv/bin/uwsgi -i unix:/home/ubuntu/s04p23b102/backend/.config/uwsgi/mysite.conf

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
